@tailwind base;
@tailwind components;
@tailwind utilities;


.-m-100 {
    margin: -60%;
}

.scroll_bar::-webkit-scrollbar {
    width: 5px;
}

.scroll_bar::-webkit-scrollbar-track {
    background: rgb(15, 23, 42);
}

.scroll_bar::-webkit-scrollbar-thumb {
    background-color: rgb(30, 172, 254);
    border-radius: 5rem;
}

.bgImg{
    background-image: url('../src/assets/open-book-online-education-back-to-school-study-different-subjects-reading-wireframe-low-poly-isolated-dark-blue-backgr-192529507.jpg'),linear-gradient(to right, rgb(11, 135, 184),rgb(2, 62, 86));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}